services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: 323001028681.dkr.ecr.ap-south-1.amazonaws.com/ecommerce-backend:latest
    container_name: spring_backend
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    image: 323001028681.dkr.ecr.ap-south-1.amazonaws.com/ecommerce-frontend:latest
    container_name: react_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
